@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans/OpenSans-Bold/fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans/OpenSans-Bold/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /* url('../fonts/OpenSans/OpenSans-Bold/fonts/OpenSans-Bold.woff2') format('woff2'),  Modern Browsers */
       url('../fonts/OpenSans/OpenSans-Bold/fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans/OpenSans-Bold/fonts/OpenSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    /* url('../fonts/OpenSans/OpenSans-Bold/fonts/OpenSans-Bold.svg') format('svg'); Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
