@mixin shadow($timer) {
  transition: $timer;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.45);
  box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.45);
}
@mixin caret($color) {
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 14px dashed $color;
  border-top: 4px solid \9;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  position: absolute;
  bottom: -13px;
  left: 43%;
}

.about-tool{
  display: flex;
  margin-bottom: 4rem;
  h2{
    color: $aquamarine;
    font-size: 2.8rem;
  }
  .btn--wrapper{
    text-align: center;
    margin: 6rem 0;
    .btn-default{
      display: inline-block;
    }    
  }
  .indicators--list--wrapper{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 6rem 0 3rem;
    padding: 0;
    .indicators-item{
      width: 20rem;
      height: 20rem;
      position: relative;
      text-align: center;
      margin-bottom: 2rem;
      border-radius: 6px;
      .caret {
        display:none;
      }
      &.active{
        .caret{
          display: block;
          @include caret($orange);
        }
      }
      &:nth-child(1){
        background:$aquamarine url(../style/img/methodology01.png) 50% 1rem no-repeat;
        &:hover, &.active{
          background:$orange url(../style/img/methodology01-hover.png) 50% 1rem no-repeat;
          @include shadow(0.6s);
        }
      }
      &:nth-child(2){
        background:$aquamarine url(../style/img/methodology02.png) 50% 1rem no-repeat;
        &:hover, &.active{
          background:$orange url(../style/img/methodology02-hover.png) 50% 1rem no-repeat;
          @include shadow(0.6s);
        }
      }
      &:nth-child(3){
        background:$aquamarine url(../style/img/methodology03.png) 50% 1rem no-repeat;
        &:hover, &.active{
          background:$orange url(../style/img/methodology03-hover.png) 50% 1rem no-repeat;
          @include shadow(0.6s);
        }
      }
      &:nth-child(4){
        background:$aquamarine url(../style/img/methodology04.png) 50% 01rem no-repeat;
        &:hover, &.active{
          background:$orange url(../style/img/methodology04-hover.png) 50% 1rem no-repeat;
          @include shadow(0.6s);
        }
      }
      a{
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding-top:14rem;
        font-size: 1.6rem;
        color: $white;
        &:hover{
          color: $white;
        }
      }
    }
  }
  .indicators--submenu--wrapper{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;
    padding: 0;
    li{
      a{
        padding: 2rem 1rem;
        display: inline-block;
        font-family:'Oswald';
        font-size: 2.2rem;
        color: $aquamarine;
        color: $gray-light;
        text-align: center;
        &:hover{
          color: $orange;
        }
      }
      &.active{
        a, a:visited, a:focus{
          color: $orange;
          border-bottom: 0;
        }
        a:hover{          
          color: $aquamarine;
          border-bottom: 0;
        }           
      }
    }
  }
  form.indicators--wrapper{
    display: flex;
    justify-content: center;
    margin: 4rem auto 4rem;
    label{
      padding: 2.1rem 1rem;
      color: $gray;
      font-weight: normal;
    }
    .indicators-select{
      position: relative;
      select{
        width: 100%;
        margin: 1rem 0;
        padding:1rem 4rem 1rem 2rem;
        border-radius: 4px;
        border: 1px solid #529FA2;
        color: #529FA2;
        position: relative;
        background: #FFF;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        option{
          color: $gray !important;
        }
      }
      &:after{
        content: "\f107";
        font-family: 'FontAwesome';
        font-weight: normal;
        font-size: 2rem;
        color: #00A0A4;
        right: 0rem;
        top: 14%;
        height: auto;
        padding: 1rem;
        position: absolute;
        pointer-events: none;
      }      
    }
  }
  .methodology--grid--wrapper{
    padding-left: 30rem;
    background-position: 3rem 0rem;
    background-size: 20rem;  
    h3{
      color: $aquamarine;
      border-bottom: 1px solid;
      margin-top: 4rem;
    }
    p{
      *{
        font-family: 'Opensans' !important;
        color: $gray !important;
        font-size: 1.6rem !important;
      }
      a{
        word-break: break-all;
        color: $aquamarine !important;
      }
    }
    a{
      word-break: break-all;
      color: $aquamarine;
    }
  }
}

@media (max-width: 990px) {

  .about-tool{
    form.indicators--wrapper {
      width:100%;
      justify-content: center;
    }
    .methodology--grid--wrapper {
      padding-left: 18rem;
      background-position: 1rem 0rem;
      background-size: 13rem;
    }
  } 
  .indicators--submenu--wrapper{
    height: 7rem;
    max-height:7rem;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    -webkit-transition: max-height 1.5s; 
    transition: max-height 1.5s;
    margin: 0;
    padding: 0;
    li{
      width: 100%;
      padding: 0;
      position: relative;
      display: none;
      a{
        display: block !important;
        text-align: center;
        &:hover{
          color: $orange;
          border-bottom: 0 !important;
        }
      }
      &.active{
        display: block;
        a, a:hover, a:visited, a:focus{
          color: $orange !important;
          border-bottom: 0;
        }   
      }
    }
    &:after{
      content: "\f078";
      font-family:'FontAwesome';
      font-size: 2rem;
      color: $orange;
      right: 1.5rem;
      top: 1rem;
      padding: 1rem;
      position: absolute;
      z-index: 10;
    }
    &.open-list{
      height:auto;
      max-height:70rem;
      -webkit-transition: max-height 1.5s; 
      transition: max-height 1.5s;
      li{
        display: block;
        &.active{
          display: block;
          a, a:hover, a:visited, a:focus{
            color: $orange;
            border-bottom: 0;
          }   
        }
      }
      &:after{
        content: "\f077" !important;
      }
    }
  }


}

@media (max-width: 768px) {
  .about-tool{
    .indicators--list--wrapper{
      flex-wrap: wrap;
      padding: 0;
      .indicators-item{
        width: 45%;
        .caret{
          display: none !important; 
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .about-tool{
    form.indicators--wrapper {
      flex-wrap: wrap;
      label{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
      }
    }
    .methodology--grid--wrapper{
      background: none;
      padding-left: 0;
    }
    .indicators--submenu--wrapper{
      height: 10rem;
      max-height: 10rem;        
      &.open-list{
        height: auto !important;
        max-height: 70rem;
      }
      li{
        a{
          padding: 2rem 3rem 2rem 0.5rem;
        }
      }
      &:after{
        right:0rem;
        top: 1rem;
      }
    }
  }
}
@media (max-width:420px) {
  .about-tool{
    .indicators--list--wrapper{
      .indicators-item{
        width: 100%;
        height: 18rem;
        a{
          padding: 13rem 1rem 0rem;
        }
        &:last-child{
          margin-bottom:2rem;
        }
      }
    }
  }
}