@media print, screen{
	@page {
	  size: A4;
	  margin: 10mm 10mm;
    counter-increment: page;
    counter-reset: page 1;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
	}
	table.full-content-report{
		page-break-after: always;
	   thead {
	   	display: table-header-group;
	   	tr{
	   		td{
					height:20mm;
	   		}
	   	}
	   } 
	   tfoot {
	   	display: table-footer-group;
	   	tr{
	   		td{
	   			height:10mm;
	   		}
	   	}
	   }
	   tbody {
	   	tr{
	   		td{
	   		}
	   	}
	   }	
		.page-header-space {
		  height:20mm;
		  background-color: #FFF !important;
		}
		.page-footer-space {
		  height:10mm;
		  background-color: #FFF !important;
		}
	}



	.break-after{
		page-break-after: always !important;
	}
	.break-before{
		page-break-before: always !important;
	}
	.page-break-before, 
	.UK, .ES{
		//page-break-before: always !important;
	}
	#widthDisclaimer{
		display: none;
	}
	html.full-country-report{
		width: 210mm !important;
		height: 297mm !important;
	}
	body.full-country-report{	
		font-family: "Arial" !important;
    top: 0mm !important;
    width: 210mm;    
    margin: 0 auto;
    font-size: 14px;
    padding: 0;
    overflow: initial;
    background: none;
		a[target="_blank"], a[target="blank"] {
			margin: 0;
			&:after, &:before{
				content:'';
				width: 0px;
			}
		}
		h1, h2, h3, h4 {
		  font-family: "Arial", sans-serif;
		}
		h1,h2{
			font-size: 2.8rem;
			font-weight: bold;
			color: $eu !important;
		}
		h3{
			font-size: 2.8rem;
			color: $gray !important;
		}
		h4{
			font-size: 2.2rem;
		}
		h5{
			font-size: 2.2rem;
		}
		.header3{
	    background: #F0F0F0 !important;
	    color: #003399 !important;
	    font-size: 2.2rem !important;
	    font-weight: bold;
	    padding: 1rem 1rem;
		}
		.header4{
			background: transparent !important;
	    color: #003399 !important;
	    font-size: 2.2rem !important;
	    font-weight: bold;
	    padding: 1rem 1rem;
		}
		.header5{
	    font-weight: bold;
	    font-size: 1.8rem !important;
	    margin-top: 0;
	    color: #003399 !important;
		}
		div[id^=dvt_bar_chart]{
			zoom:1 !important;
		}
		.goog-te-spinner-pos, #fancybox-wrap, #goog-gt-tt, #cookiesConsent, footer{
			display: none !important;
		}
	}
	header.full-country-report{
		display:none;
	}
  .header-logo{
		position: fixed;
		top: 0mm;
		left: 0mm;
		width: 210mm;
		z-index: 100;
    height: 15mm;
    background-image:url(../style/img/EU-OSHA-trans-en.png),
     url(../style/img/eu-flag.png) !important;
    background-position: left top, right 3mm!important;
    background-repeat: no-repeat, no-repeat !important;
    background-size: contain, 13mm !important;
    background-color:#FFF !important;
    overflow: visible;
		picture{			
			display: flex;
			justify-content: space-between;
			//margin-bottom: 20mm;
			img{
				&.osha-logo{
					height: 15mm !important;
				}
				&.european-flag{
					height: 7.5mm !important;
					margin-top: 3.25mm;
				}				
			}
		}    	
  }
	.footer-pdf{
		background-color: #FFF !important;
		position: fixed;
    display: flex;
    justify-content: space-between;
    width: 210mm;
    z-index: 100;
    bottom: 0px;
    font-size: 9px;
    text-align: center;
    margin: 0;
    a{
    }
    a[target="_blank"]:before, a[target="blank"]:before, 
    a[target="_blank"]:after, a[target="blank"]:after{
    	content:"";
    	display: none;
    }
	}
	.full-country-report-page{
		display: block !important; 
		.chart-data{
			width: 100%;
			margin: 2mm auto 0mm;
			border-collapse: collapse;
			font-size:12px;
			color: $gray;
			thead{
				border-bottom:2px solid $gray;
				tr{

				}
				th{
					padding: 0 0.8rem;
    			white-space: nowrap;
    			text-align: center;
    			font-style: italic;
					&:nth-child(1){
						width: 65%;
						text-align: right;
					}
				}		
			}
			tbody{
				tr:nth-child(2n+1){
					background:#d6e2e2 !important;
				}
				th{
					border-right:2px solid $gray-light;
					padding:0.2rem 0.8rem;
    			text-align: center;
    			font-style: italic;
    			font-weight: normal !important;
					&:nth-child(1){
						width: 65%;
						text-align: right;
					}
				}
				td{
					border-right:2px solid $gray-light;
					padding:0.2rem 0.8rem;
					white-space: nowrap;
    			text-align: center;
    			vertical-align: text-top;
				}
			}
			&.wrap{
				thead{
					th{
						white-space: initial;
					}
				}
			}
			&.w95{
			width: 95%;
			}
			&.w85{
			width: 85%;
			}
			&.w75{
			width: 75%;
			}
			&.w60{
			width: 60%;
			}
			&.w50{
				width: 50%;
			}
			&.w40{
				width: 40%;
			}
			&.w25{
				width: 50%;
			}
		}
		.index{
			background: $gray-lighter !important;
			padding: 5mm 20mm 5mm;
			margin-top: 5mm;
			ul.index-list{
				list-style-type: none;
				padding: 0;
				margin:0;
				li.main-item {
			    font-size: 2.2rem !important;			   
			    display: flex;
			    justify-content: space-between;
			    margin-bottom:10mm;
			    span{
			    	width: 36%;
			    	color: $eu !important;
			    	text-align: right;
			    	display: block;
			    	padding-right:10mm;
			    }
			    ul{
			    	width: 64%;
						list-style-type: none;
						margin: 0;
						li{
					    font-size: 2.2rem !important;
					    color: $gray !important;
					    padding:0 0 0.5rem 0;
			    	}
			    }
			    &:nth-child(1){
			    	ul{
							border-left: 8px solid #dc2f82;
			    	}
			    }
			    &:nth-child(2){
			    	ul{
							border-left: 8px solid #bac9e4;
			    	}
			    }
			    &:nth-child(3){
			    	ul{
							border-left: 8px solid #4065a6;
			    	}
			    }
			    &:nth-child(4){
			    	ul{
							border-left: 8px solid #003366;
			    	}
			    }
			    &:nth-child(5){
			    	ul{
							border-left: 8px solid #58585a;
			    	}
			    }
				}
			}
		}
		.introduction-page, 
		.osh-authorities, 
		.economic-sector-profile, 
		.workforce-profile, 
		.national-strategies, 
		.social-dialogue, 
		.work-accidents, 
		.health-perception, 
		.osh-culture, 
		.working-conditions, 
		.osh-statistics, 
		.working-conditions, 
		.prevention-in-companies, 
		.osh-statistics, 
		.enforcement-capacity{
			//display: none;
		}
		.working-conditions{
			//display: block;
		}
		.center{
			text-align: center;
		}
		section{
			//position: relative;
			//top: 0mm;
	    margin: 10mm 10mm 10mm 10mm;
	    padding: 0 0 0mm 0 !important;
	    width: 190mm !important;
			min-height: 267mm;
	    page-break-before: always !important;
    	.title-page{
				display: flex;
				margin-bottom: 0mm;
				align-items: flex-start;
				h2{
					font-size: 2.8rem !important;
					padding: 0 2rem 0 0;
					color: $gray !important;
					margin-top: 0;
				}
				h3{
					color: $eu !important;
					font-weight: bold;
					font-size: 2.8rem !important;
	    		margin:0 !important;
				}
				&.wrap{
					//flex-wrap: wrap;
				}
				&.multiline{
					display: block !important;
					padding-top: 30mm !important;
					page-break-before: always !important;
					h2{
						margin:0 !important;
					}
					h3{
						margin-bottom:1.5rem !important;
					}
				}
			}
			.intro-page{
				margin-bottom: 5mm;
			}
			.content-page{
				margin: 0cm auto;
			}
			.box-rounded{
				background: $aquamarine-lighter-trans !important;
				page-break-inside: avoid !important;
				border-radius:4rem 0 4rem 0;
		    padding: 2rem 3rem 1rem;
		    margin:1rem 0;
		    h2.title--card{
		    	font-size: 2.2rem !important;
		    	margin-top: 0;
		    }		    
				p, ul, ol, li{
					//page-break-inside: avoid !important;
				}
    		svg{
    			zoom:1 !important;
    		}
    		div[id^='dvt_radarChart']{
					svg{
						text{
							font-size: 12px !important
						}
					}
    		}
			}
		}
		section.cover-page{
			width: 210mm !important;
			min-height: 257mm !important;
			position: relative;
			top: 0cm;
			margin: 0 !important;
			padding:0 !important;
			page-break-after:always;
			.content-cover{
				position: absolute;
				top: 30%;
				right: 0%;
				width: 100%;
				text-align: center;
				img{
			    margin-left: 6rem;
				}
				h1,h2,h3{
				font-size: 4.8rem !important;
				}
				form{
					display: none;
				}
			}
		}
		section.index-page{
			h1{
		    font-size: 3.2rem;
		    margin-bottom: 5mm;
			}
		}
		section.introduction-page{
			.content-page{
				width: 170mm !important;
			}
		}
		section.osh-authorities{
			.content-page{
				.osh-authorities-items{
					position: relative;
					page-break-inside: avoid !important;
					&:last-child{
						//page-break-before:always !important;
					}
					header{
						display: flex;
						img{
							height: 1cm;
						}
						h2{
							padding: 0.125cm 0 0 0.25cm;
							font-size: 2.2rem !important;
						}
					}
					h3{
						background: $gray-lighter !important;
						color: $eu !important;
						font-size: 2.2rem !important;
		    		font-weight: bold;
		    		padding: 1rem 1rem;
		    		margin:1rem 0 0;
					}
					.institution-name{
						//font-weight: bold;
						//margin: 2rem 0 1rem;
					}
					.box-rounded{
						page-break-inside: initial !important;
						> p:nth-child(1){
							font-weight: bold;
						}
					}
				}
			}
		}
		section.economic-sector-profile{			
			&.indicator1{
				.chart-data{
			    margin: 2mm auto 0mm;
				}
				svg{
					width: 177mm !important;
				}
			}
			&.indicator2{
				min-height: initial !important;
				.content-page{
					display: flex;
					justify-content: flex-start;
					padding-top: 30mm;
					flex-wrap: wrap;
					.box-rounded {
						width: 60mm;
						padding: 2rem 2rem 1rem;
						margin: 0.5rem;
					  .card--block--chart--wrapper{
						  h2{
				  	    min-height: 8rem;
				  	    font-size: 1.8rem;
						  }					  	
					  }
					  svg{
					    width: 53mm !important;
					    height: 55mm !important;
					  }
					  .chart-data{
					    margin: 0mm 0mm 1mm;
					  }
					}			
				}
			}
		}
		section.workforce-profile{
			/* page-break-before: initial !important;*/
			min-height: initial !important;
			table{
				tr{
					border-bottom: 1px solid $gray-light;
					&:last-child{
						border-bottom: 0;
					}
					td{
						border-right: 1px solid $gray-light;
						padding: 1.4rem 0.8rem;
						text-align: center;
						vertical-align: top;
						> img {
							width: 7.28rem;
						}
						span.data{
							font-size: 2.1rem;
							display: block;
							font-weight: bold;
							font-style: italic;
							white-space: nowrap;
					    	margin-top: 1.2rem;
						}
					}
				}
			}
		}
		section.national-strategies{
			header{
				display: flex;
				img{
					height: 1cm;
				}
				h2{
					padding: 0.125cm 0 0 0.25cm;
					font-size: 2.2rem !important;
				}
			}
			.intro-page{
				margin: 0 0 5mm;
			}
			h4{
				background: $gray-lighter !important;
				color: $eu !important;
				font-size: 2.2rem !important;
    		font-weight: bold;
    		padding: 1rem 1rem;
    		margin: 0;
			}
			h5{
				font-weight: bold;
				font-size: 1.8rem !important;
    		margin-top: 0;
			}
			.box-rounded{
		    margin:1rem 0;
		    page-break-inside: initial !important;
			}
			&.IT, &.NL, &.EL {
				.box-rounded{
					&.evaluation{
						page-break-inside: avoid !important;
					}
				}
			}
			&.CY, &.BG{
				.box-rounded.box2{
					page-break-inside: avoid !important;
				}
			}
			&.DE{
				.box-rounded{
					&.actors{
						page-break-inside: avoid !important;
					}
				}
			}			
			&.PT{
				.box-rounded{
					&.resources{
						page-break-inside: avoid !important;
					}
				}
			}
			&.DK{
				.box-rounded{
					&.details{
						page-break-inside: avoid !important;
					}
				}
			}
			&.EE{
				.box-rounded{
					&.characteristics{
						page-break-inside: avoid !important;
					}
				}
			}
			&.HU{
				.box-rounded{
					&.details, &.box1{
						page-break-inside: avoid !important;
					}
				}
			}
		}
		section.social-dialogue{
			min-height: initial !important;
			&.CY, &.DE, &.CZ, &.DK, &.BG, &.EE{
				page-break-before: initial !important;
			}
			&.HU, &.LT{
				page-break-before: initial !important;
				page-break-inside: avoid !important;
			}
			header{
				display: flex;
				padding: 1rem 4rem 1rem 4rem;
				img{
					height: 1cm;
				}
				h2{
					padding: 0.125cm 0 0 0.25cm;
					font-size: 2.2rem !important;
				}
			}
			.intro-page{
				margin: 0 0 5mm;
			}
			.content-page{
				display: flex;
					.box-rounded{
				    margin: 0 2%;
				    min-height: 20rem;
				    width: 46%;
				    ul{
				    	list-style-type: none;
				    	display: flex;
							flex-wrap: wrap;
							padding: 0;
				    	li{
								width: 50%;
								text-align: center;						    
				        padding: 0 1rem;
				        &:nth-child(2n+1){
									border-right: 1px solid $gray;
				        }
								span{
									font-size: 2.8rem;
									display: inline-block;
									font-weight: bold;
								}
								label{
									display: inline-block;
									max-width: 100%;
									margin-bottom: 5px;
									font-weight: normal;
									text-align: center;
								}
				    	}
				    }
					}
			}		
		}
		section.work-accidents{
			.title-page{
				//flex-wrap: wrap;
			}
		  	.chart-data{
	  	    	margin: 1mm auto 0mm;
			  	thead{
			  		th{
			  			text-align: center;
			  		}
				  	th:nth-child(1), th:nth-child(4){
							width: 30mm;
							text-align: right;
				  	}		  		
			  	}
			  	&.w50 tr th{
			  		white-space: nowrap;
			  	}
			}
		}
		section.health-perception{
			.title-page{
				//flex-wrap: wrap;
			}
			header{
				display: flex;
				padding: 1rem 0rem 1rem 2rem;
				img{
					height: 1cm;
				}
				h2{
					padding: 0.125cm 0 0 0.25cm;
					font-size: 2.2rem !important;
				}
			}
			.intro-page{
				margin: 0 0 5mm;
			}
			.content-page{
				display: flex;
				.box-rounded{
			    margin: 0 2%;
			    min-height: 20rem;
			    width: 46%;
			    ul{
			    	list-style-type: none;
			    	display: flex;
						flex-wrap: wrap;
						padding: 0;
			    	li{
							width: 50%;
							text-align: center;						    
			        padding: 0 0 0 1rem;
			        &:nth-child(2n+1){
								border-right: 1px solid $gray;
								padding: 0 1rem 0 0;
			        }
							span{
								font-size: 2.8rem;
								display: inline-block;
								font-weight: bold;
							}
							label{
								display: inline-block;
								max-width: 100%;
								margin-bottom: 5px;
								font-weight: normal;
								text-align: center;
							}
			    	}
			    }
				}
			}	
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }		
		}
		section.osh-culture{
			.title-page{
				//flex-wrap: wrap;
			}
			.box-rounded{
    		svg{
    			zoom:1 !important;
    		}
		  }
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }
		  &.RO{
		  	.box-rounded{
					padding: 2rem 3rem 1rem !important;
		  	}
		  }
		}
		section.working-conditions{
			.title-page{
				//flex-wrap: wrap;
			}
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  			white-space: nowrap;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }
		  .chart-data{
		  	margin: 2mm auto 0mm;
		  }
		  &.overall-opinion{
		  	margin-bottom: 0;
		  }
		  &.mental-risk{
		  	h4{
					display: inline-block;
					width: 100%;
		  	}
		  	.header3{
		  		margin-top: 0;
		  	}
		  }
		  &.physical-risk, &.overall-opinion, &.mental-risk{
		  	h4{
					display: inline-block;
					width: 100%;
		  	}
		  	.exposure, .overall, .mental{
					h2 {
						font-size: 2.2rem !important;
						margin: 0rem 0 1.5rem 0;
						//border-bottom: 2px solid;
					}		  		
		  	}
		  }
		}
		section.prevention-in-companies{
			.title-page{
				//flex-wrap: wrap;
			}
			.box-rounded{
    		svg{
    			zoom:1 !important;
    		}
    		&.risk{
					svg{
						text{
							font: 8px OpenSans-bold !important;
						}
					}
    		}
		  }
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }
		}
		section.osh-statistics{
			.content-page{
				.osh-statistics-items{
					position: relative;
					page-break-inside: avoid !important;
					&:last-child{
						//page-break-before:always !important;
					}
					header{
						display: flex;
						img{
							height: 1cm;
						}
						h2{
							padding: 0.125cm 0 0 0.25cm;
							font-size: 2.2rem !important;
						}
					}
					h3{
						background: $gray-lighter !important;
						color: $eu !important;
						font-size: 2.2rem !important;
		    		font-weight: bold;
		    		padding: 1rem 1rem;
		    		margin: 0;
					}
					.institution-name{
						//margin: 2rem 0 1rem;
					}
					.box-rounded{
				    padding: 1rem 3rem;
				    margin:1rem 0;
				    page-break-inside: initial !important;
					}
				}
			}
			&.DK{
				.content-page{
					.osh-statistics-items{
						page-break-inside: initial !important;
					}
				}
			}
			&.EL{
				page-break-before: initial!important;
			}
		}
		section.enforcement-capacity{
			.header4{
				padding: 0;
				margin-top:0;
			}
			h2.title--card{
		    font-weight: bold;
		    font-size: 1.8rem !important;
		    margin-top: 0;
		    color:$gray !important;
			}
			.header5{
				color:$gray !important;
				margin-bottom: 1rem;
			}
			.content{
				page-break-inside: initial !important;
			}
			&.CY, &.LV, &.BG{
				.content{
					&.inspectorpowers{
					  page-break-before: always !important;
					}
				}
			}
			&.HU{
				.content{
					&.inspectorpowers{
					  page-break-inside: avoid !important;
					}
				}
			}
		}
	}
}

@media screen{
	html.full-country-report{
		margin: auto;
		body.full-country-report{
			.header-logo{
				margin: auto;
				left: initial;
			}
			.chart--submenu{
				display: none !important;
			}
		}
	}
	.content-cover{
		form{
			display: block !important;
		}
	}
}