.economic--sector--profile{
  .card--grid{
    justify-content: center;
    .card--block--chart{
      margin: 1rem;
      position: relative;
      .select-filter-chart-wrapper{
        width: 77%;
        top: 1.8rem;
        left: 0;
        position: relative;
        z-index: 2;
        @media screen and (max-width:1199px) {
          width: 71%;
        }
        @media screen and (max-width:990px) {
          width: 79%;
        }
        @media screen and (max-width:768px) {
          width: calc(100% - 8rem);
        }
      }
      .select-filter-chart{
        position: relative;
        top: 0rem;
        /*
        position: absolute;
        right: 9rem;
        top: 0;
        width: 65%;
        z-index: 10;
        */
        &:after{
          //content: "\f107";
          content: "\f0c9";
          font-family: FontAwesome;
          font-weight: normal;
          font-size: 2.2rem;
          font-weight: bold;
          //color: $aquamarine;
          right: 0;
          top:-1px;
          height: auto;
          padding: 0rem;
          position: absolute;
          pointer-events: none;
        }
        select{
          width: 100%;
          margin: 0;
          padding: 0 2.2rem 0 0;
          border-radius: 0;
          border: 0px solid #529FA2;
          border-radius: 0rem 0 0;
          color: #529FA2;
          background: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          font-family: "Oswald", sans-serif !important;
          font-size: 1.8rem;
          text-align-last: right;
          text-align:right; 
          &:focus{
            outline:0 !important;
            border:0 !important;
          }
          &:hover{
            cursor: pointer;
          }
          option{
            font-size: 1.6rem;
            font-family: OpenSans;
            color: black !important;
            text-align:right; 
            &:checked {            
              display: none;
            }
          }
        }
        /*
        select{
          width: 100%;
          //margin: 1rem 0 3rem;
          margin: 0;
          padding: 1rem 2rem;
          border-radius: 4px;
          border: 1px solid $aquamarine;
          border-radius: 2rem 0 0;
          color: $aquamarine;
          background: #FFF;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        */
        select::-ms-expand {
            display: none;
        }   
      }
      .with-filter{
        position: relative;
        top: -2rem;
      }
    }
  }
}



@media only screen 
and (max-width : 1024px){
  .economic--sector--profile{
    .card--grid{
      justify-content: space-between;
      .card--block--chart{
        //margin: 1rem;
      }
    }
  }
}

@media only screen 
and (max-width : 767px){
  .selected--tags-wrapper{
    padding: 1rem 2.2rem 0;
  }
}

