.filter--letter--section{
	margin: 2rem auto;
	.filter--letter--list{
	  display: flex;
	  justify-content: space-between;
	  list-style-type: none;
	  padding: 0;
		.filter-letter-item{
			a{
			  font-size: 2.4rem;
			  font-weight: bold;
			  font-family: "Oswald", sans-serif;
			  color: $aquamarine;
			  padding: 0.5rem 1rem;
			  &.active{
			  	background: $orange;
			  	color: $white;
			  	border-radius: 4px;
			  }
			}
		}
		.btn-reset{
			position: relative;
			padding:0.5rem 3.5rem 0.5rem 1.5rem;
			display: flex;
			&:after{
				content: "\f0e2";
		    font-weight: normal;
		    font-family: FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    font-size: 2rem;
		    position: absolute;
		    top: 0;
		    right: 0;
		    padding: 0.2rem 1rem 0.5rem 0.5rem;
		    color: #FFF;
			}
		}
	}
}

.alphabetic--card--section{
	background: #EFEFEF;
	.alphabetic--card--block{
	  	.alphabetic--card--items{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			.text-left{
				flex: 100%;
				h2{
					font-size: 2.4rem;
					font-weight: bold;
					font-family: "Oswald", sans-serif;
					color: #529FA2;
					border-bottom:1px solid $aquamarine;
					padding: 1rem 0;
				}
			}
		  	.alphabetic-card-item{
				border-radius: 46px 0;
				padding: 3rem 2%;
				margin: 1rem;
				background: #FFF;
				width: 23%;	
				img{
					outline: 1px solid #CCC;
				}
		  	}
	  	}
	}
}

.national--card--section
{
	background: #EFEFEF;
	padding: 3rem 0;
	.card--grid {
	  justify-content: flex-start;
	}
	.national--card--item
	{
		margin: 1rem;
		background: #FFF;
		h2 
		{
			font-size: 2.6rem;
		}
		img
		{
			outline: 1px solid #CCC;
		}
	}
}

@media only screen 
and (min-width :768px) and (max-width :1024px) and (orientation : landscape) {

	.alphabetic--card--section{
		.alphabetic--card--block{
		  .alphabetic--card--items{
				.text-left{
					h2{

					}
				}
		  	.alphabetic-card-item{
					width: 30%;	
		  	}
		  }
		}
	}

}

@media only screen 
and (min-width :768px) and (max-width :1024px) and (orientation : portrait){

	.alphabetic--card--section{
		.alphabetic--card--block{
		  .alphabetic--card--items{
				.text-left{
					h2{

					}
				}
		  	.alphabetic-card-item{
					width: 47%;	
		  	}
		  }
		}
	}

}

@media only screen 
and (max-width :767px) {


	.filter--letter--section{
		.filter--letter--list{
		  display: flex;
		  justify-content: flex-start;
		  list-style-type: none;
		  padding: 0;
		  flex-wrap: wrap;
			.filter-letter-item{
			  width: 50px;
			  border: 1px solid $aquamarine;
			  text-align: center;
			  margin: 1rem;
			  border-radius: 6px;
				a{
					display: block;
				}
			}
		}
	}
	.reset-item{
		width: 100%;
		margin: 2rem 1rem 0;
		.btn-reset{
			padding: 1.5rem !important;
			display: block !important;
			text-align: center !important;
			&:after{
				padding: 1rem !important;
			}
		}
	}

/*
	.filter--letter--section{
		position: relative;
		.filter--letter--list{
			flex-direction: column;
			height: 4rem;
			overflow: hidden;
			border: 1px solid;
		  position: absolute;
		  width: 95%;
		  background: #FFF;
		  z-index: 10;
		  &.open-list{
				height:auto;
		  }
			.filter-letter-item{
				padding: 0 1rem;
				position: relative;
				&:first-child:after {
				  content: "\f107";
				  display: inline-block;
				  font-size: 2.5rem !important;
				  font-family: 'FontAwesome';
				  font-size: inherit;
				  text-rendering: auto;
				  -webkit-font-smoothing: antialiased;
				  position: absolute;
				  right: 0.7rem;
				  top: 0.2rem;
				  color: #529FA2;
				}
				a{

				}
			}
		}
	}
*/
}

@media only screen 
and  (min-width :450px) and (max-width :767px){
	.alphabetic--card--section{
	  margin-top: 4rem;
		.alphabetic--card--block{
		  .alphabetic--card--items{
				.text-left{
					h2{

					}
				}
		  	.alphabetic-card-item{
					width: 45%;
		  	}
		  }
		}
	}

}

@media only screen 
and  (max-width :450px) {

	.alphabetic--card--section{
		.alphabetic--card--block{
		  .alphabetic--card--items{
				.text-left{
					h2{

					}
				}
		  	.alphabetic-card-item{
					width: 100%;	
		  	}
		  }
		}
	}

}