.text-advice{
	padding-bottom: 1rem;
}

@media (max-width: 990px) {

	.regulation-page {
		.submenu--block{
			.submenu--items--wrapper{
				//min-height: 7rem;
				min-height: auto;
				max-height:7rem;
				overflow: hidden;
				display: block;
				li{
					width: 100%;
					//padding: 0 0rem 1.5rem 1rem;
					padding: 0;
					display: none;
					position: relative;
					a{
						display: block;
						padding: 1rem 0;
						font-size: 2.4rem;
	          &:hover{
	            color: $orange;
	            border-bottom: 0 !important;
	          } 
					}
					&.active{
						display: block;
						a, a:hover, a:visited, a:focus{
							color: $aquamarine;
							border-bottom: 0;
						}		
					}
					&:after{
						content: "\f078";
						font: normal normal normal 14px/1 FontAwesome;
						right: 1.5rem;
						top: 1rem;
						padding: 1rem;
						position: absolute;
				    z-index: 10;
					}
				}
				&.open-list{
		      max-height:70rem;
		      -webkit-transition: max-height 1.5s; 
		      transition: max-height 1.5s;
					li{
						display: block;
						&.active{
							display: block;
							a, a:hover, a:visited, a:focus{
								border-bottom: 0;
							}							
						}
						&:after{
							content: "";
						}
						&:nth-child(1){
							a{
								border-bottom: 0;
							}
							&:after{
								content: "\f077" !important;
								font: normal normal normal 14px/1 FontAwesome;
								right: 1.5rem;
								top: 1rem;
								padding: 1rem;
								position: absolute;
					    	z-index: 10;
							}
						}
					}
				}
			}
		}	
	}
 
}


