@import 'bootstrap-dvt-variables.scss';

/** GENERAL TAGS  **/
  html{
    font-size: 10px;
  }
  samp{
    font-family: $font-body !important;    
  }
  .ccc-tt-ds .ccc-tt-dimValue .ccc-tt-valuePct{
    display: none !important;
  }
  body{
    font-family: $font-body;
    font-size:$font-size-body;
    color: $gray-base;
    padding-top: 130px;
    overflow: auto;
    &.section-fixed{
      padding-top:30rem;
    }
    &.ovh{
      overflow: hidden;
    }
  }
  body.hasCookies{
    //padding-top: 9rem;
    .ilo-header #containerMenu{
      position: relative;
    }
    /*
    #google_translate_element_wrapper{
      top: 4rem;
      position: relative;
      width: auto;
      float: right;
      right:0;
    }
    span.google_translate_span {
      width: 135px;
      left: 0px !important;
    }
    span.gtranslator-info {
      right: 0em !important;
    }
    .gtranslator-msg {
      top: 199px;
    }
    */
  }

  *:focus{
    outline:none !important;
  }
  select:focus{
    border: 1px dotted $aquamarine !important;
  }
  .ccc-tt-ds .ccc-tt-dimValue .ccc-tt-valuePct {
    display: none;
  }
  .section--page{
    padding: 4rem 0 2rem;
  }
  h1, h2, h3, h4 {
    font-family:$font-header;
    margin-top:2rem;
    margin-bottom:2rem;
  }
  h2{
    font-size: 3.6rem;
  }
  h3{
    font-size: 2.6rem;
  }
  h4{
    font-family:$font-body-bold;
    font-size: 1.6rem;
  }
  a{
    text-decoration: none;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    &:hover, &:focus{
      text-decoration: none;
      -webkit-transition: all 0.8s ease-out;
      -moz-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out;
    }
    &.main-color{
      color: $aquamarine;
    }
    &.second-color{
      color: $orange;
    }
    &.external{
      margin-right: 0.5em;
      word-wrap: break-word;
      &:after{
        background: url(../img/external_link.png) transparent right 30% no-repeat;
        margin-left:0em;
        padding-right: 0;
        width: 15px;
        height: 15px;
        display: inline-block;
        content: " ";
        position: relative;
        top: 1px;
        left: 2px;
      }
    }
    &[target="_blank"], &[target="blank"]{
      margin-right: 0.5em;
      word-wrap: break-word;
      &:after{
        background: url(../img/external_link.png) transparent right 30% no-repeat;
        margin-left:0em;
        padding-right: 0;
        width: 15px;
        height: 15px;
        display: inline-block;
        content: " ";
        position: relative;
        top: 1px;
        left: 2px;
      }
    }

  }
  .footer-elements, header{
    a.external, 
    a[target="_blank"], 
    a[target="blank"]{
      margin-right: 0em;
      &:after{
        background: none;
        margin-left:0em;
        padding-right: 0;
        width: 1px;
        height: 1px;
      }
    }
  }
  .exclamation{
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
    font-size: 3.6rem;
    background: #f6a400;
    border-radius: 6rem;
    width: 4rem;
    height: 4rem;
    margin-left: 1.5rem;
    &:before{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 10px solid $orange;
      content: '';
      font-size: 0px;
      left: -8px;
      top: -18px;
      position: relative;
    }
    &:after{
      content:"!";
      position: relative;
      top: -0.7rem;
      left: 0.6rem;
    }
  }

/** END GENERAL TAGS  **/


/** CUSTOM CLASS  **/
  .outleft{
    position: absolute;
    top: -9999px;
    left:-9999px;
  }
  .nopadding{
    padding: 0;
  }
  .tablet-show{
    display: none;
  }
  .vertical-nopadding{
    padding-top: 0;
    padding-bottom: 0;
  }
  .horizontal-nopadding{
    padding-top: 0;
    padding-bottom: 0;
  }
  .visible-inline{
    display: inline !important;
  }
  .visible{
    display: block !important;
  }
  .affix {
    position: fixed;
    top: 132px;
    width: 100%;
    background: #FFF;
    z-index:1000;
  }
  .main-color{
    color: $aquamarine;
  }
  .second-color{
    color: $orange;
  }
  .note{
    p{
      font-size: 1.4rem;
      font-family: "OpenSans";
      font-weight: normal;
      font-style: italic;
      display: block;
      margin: 2rem 2rem 1rem;
      color: red;
    }
  }
  .hide-header{
    position: fixed;
    top: -15rem !important;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    &.affix{
      top: -25rem;
      background: $white;
      width: 100%;
    }
    &.affix-top{
      top: -25rem;
      background: $white;
      width: 100%;
    }
  }
  .show-header{
    position: fixed;
    top:0rem;
    -webkit-transition: all 0.8s; 
    transition: all 0.8s;
    &.affix{
      top:9rem;
      background: $white;
      width: 100%;
    }
    &.affix-top{
      top:0rem;
      position: relative;
      background: $white;
      width: 100%;
    }
  }
  .valign{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /** ALIGN CLASS  **/
    .center--block{
      margin: auto;
    }
    .left-text{
      text-align: left;
    }
    .center-text{
      text-align: center;
    }
    .right-text{
      text-align: right;
    }
  /** END ALIGN CLASS  **/

  /** BUTTONS ELEMENT AND BLOCK  **/  
    .btn--block{
       padding: 1.4rem 2rem;
    }
    .btn--card--carousel{
      padding: 0;
      margin-top: auto;
      margin-bottom: 0;
      border-radius: 0;
      a{
        font-weight: bold;
        position: relative;
        white-space: normal;
        border-radius: 0 0 1rem 1rem;
        &:after{
          font-weight:normal;
          content: "\f105";
          font-family: FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 2.6rem;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.6rem 2rem;
          color: $white;
        }
      }
    }
    .btn--block-full{
      padding: 1.4rem 0rem;
      a{
        font-weight: bold;
        position: relative;
        white-space: normal;
        display: inline-block;
        &:after{
          background:none;
          font-weight:normal;
          content: "\f105";
          font-family: FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 2.6rem;
          position: absolute;
          top: 0rem !important;
          right: 0rem !important;
          padding: 0.6rem 1rem;
          color: $white;
        }        
      }
      &.download{
        a{
          &:after{
            font-family: FontAwesome;
            content: "\f019";
            left: 80% !important;
            right: initial !important;
          }
        }
      }
      &.btn-alone{
        margin-top: 5rem;
      }
    }
    .btn--block-arrow{
      padding: 1.4rem 0rem;
      a{
        font-family: 'Opensans-bold';
        position: relative;
        white-space: normal;
        &:after{
          font-weight:normal;
          content: "\f105";
          font-family: FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 2.6rem;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.6rem 2rem;
          color: $white;
        }
      }
      &.btn-alone{
        margin-top: 5rem;
      }
    }
    .btn--block-filter{
      padding: 0rem;
      margin: 0;
      border: 0;
      a{
        position: relative;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
      }
    }
    .btn-default{
      //padding: 1.4rem 2rem;
      padding: 1.4rem 3.5rem 1.4rem 2rem;
      margin-bottom: 0;
      font-weight: normal;
      white-space: nowrap;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 0px solid $aquamarine;
      border-radius: 4px;
      &:hover, &:focus{
        background:$aquamarine-dark!important;
        color: $aquamarine-light!important;
        text-decoration: none!important;
      }
    }
    .btn-main-color{
      background:$aquamarine;
      color: $white;
      &:hover, &:focus{
        background:$aquamarine-dark!important;
        color: $aquamarine-light!important;
        text-decoration: none!important;
      }
    }
    .btn-full{
      display: block;
      width: 100%;
    }
    .btn--card{
      font-weight: bold;
      position: relative;
      cursor: pointer;
      &:hover, &:focus{
        color:$orange!important;
      }
      &:after{
        content: "\f105";
        font-family: FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 2.6rem;
        position: relative;
        top: 0.3rem;
        left: 0.5rem;
        color: $orange;
      }
    }
    .btn-back{
      i{
        &:before{
          font-size: 2.4rem;
          position: relative;
          top: 2px;
          left: -5px;
        }
      }
    }
    .see--more--wrapper{
      text-align: right;
      font-size: 1.4rem;
      float: right;
      position: relative;
      top: 0.9rem;
      .see-more{
        position: relative;
        cursor: pointer;
        text-transform: lowercase;
        display: inline-block;
        padding:0.5rem; 
        &:first-letter{
          text-transform: uppercase;
        }
        &:hover{
          color:$orange;
        }
        &:after{
          content: "\f107";
          display: inline-block;
          font-size:1.8rem !important;
          font-family:'FontAwesome';
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: relative;
          right: -4px;
          top: 1px;
          color: $aquamarine;
        }
      }
      .see-less{
        position: relative;
        cursor: pointer;
        text-transform: lowercase;
        display: inline-block;
        padding: 0.5rem;
        &:first-letter{
          text-transform: uppercase;
        }
        &:hover{
          color:$orange;
        }
        &:after{
          content: "\f106";
          display: inline-block;
          font-size:1.8rem !important;
          font-family:'FontAwesome';
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: relative;
          right: -4px;
          top: 1px;
          color: $aquamarine;
        }
      }
    }
  /** END BUTTONS ELEMENT AND BLOCK  **/

  /** FORM ELEMENTS  **/
    .select-default{
      position: relative;
      select{
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 4px;
        border:1px solid $aquamarine;
        color:$aquamarine;
        position: relative;
        background: $white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;   
        &::-ms-expand{
          display: none;
          text-indent: 1px;
          text-overflow: '';
        }
      }
      &:after {
        content:"\f107";
        font-family: FontAwesome;
        font-weight: normal;
        font-size: 2rem;
        color:$aquamarine;
        right: 11px;
        top: 0;
        height: auto;
        padding:1rem;
        position: absolute;
        pointer-events: none;
      }
    }
  /** END FORM ELEMENTS  **/

  /** COLORS CLASS **/
    .main-color{
      color: $aquamarine;
    }
    .second-color{
      color: $orange;
    }
    .background-main{
      background: $aquamarine;
    }
    .background-main-light{
      background: $aquamarine-light;
    }
    .background-main-lighter{
      background: $aquamarine-lighter;
    }
    .background-gray{
      background: $gray-lighter;
    }
    .background-white{
      background: $white;
    }
  /** END COLORS CLASS  **/

  /** WIDTH CARDS  **/
    .w1{
      .card--block{
        width:100%;
      }
      .card--block--chart{
        width:100%;
      }
    }
    .w2{
      .card--block{
        width:50%;
      }
      .card--block--rounded{
        width:48%;
      }
      .card--block--chart{
        width:48%;
      }
    }
    .w3{
      .card--block{
        width: 33.333%;   
      }
      .card--block--rounded{
        width:31%;
      }
      .card--block--chart{
        width:31%;
      }
    }
    .w4{
      .card--block{
        width:25%;
      } 
      .card--block--rounded{
        width:23%;
      }
      .card--block--chart{
        width:23%;
      }
    }
    .w5{
      .card--block{
        width:20%;    
      }
      .card--block--rounded{
        width:18%;
      }
      .card--block--chart{
        width:18%;
      }
    }
  /** END WIDTH CARDS  **/
  
  /** TAGS */
    .selected--tags-wrapper{
      min-height: 0px;
      margin-top: 0rem;
      &:empty{
        display:none;
      } 
      .selected-tag {
        background: $aquamarine;
        font-size: 1.4rem;
        margin: 0.8rem 0rem 0.6rem 0.6rem;
        padding: 2px 18px 2px 5px;
        display: inline-block;
        border-radius: 4px;
        color:$white;
        position: relative;
        &:after{
          content: "\f00d";
          font-family: 'FontAwesome';
          position: absolute;
          top: 0;
          right: 4px;
          font-size: 1rem;
          cursor: pointer;
          &:hover{
            opacity:0.6;
            color: $orange;
          }
        }
      }
    }
  /** END TAGS */

/** END CUSTOM CLASS  **/




/** ELEMENTS  **/
  .line{
    width: 100%;
    height: 2px;
  }
  .relative-top{
    position: relative;

  }
  .title-section{
    font-family: 'Oswald';
    font-size: 3.6rem;
    margin: 0rem 0 2rem;
  }
  .breadcrumbs--social--network{
    position: relative;

    padding: 1.5rem 2rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    .breadcrumbs{
      .path{
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        color: $aquamarine;
        a{
          border-bottom: 1px dotted $orange;
          color: $aquamarine;
          font-family: "OpenSans-bold";
          &:hover, &:focus{
            color: $orange!important;
          }
        }
        i{
          color: $orange;
          font-size: 1.8rem;
          padding: 0 5px;
        }
        span {
          font-weight: normal;
          &.current-page{
            font-weight: bold;
          }
        }
      }    
    }
    .social--network--nav{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-right: 1rem; 
      label{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1rem;
        font-weight: normal;
      }
      ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        li{
          padding:0 0.8rem;
          a{
            cursor: pointer;
            &:hover, &:focus{
              color:$orange!important;
            }
          }
        }
      }
    }
  }

  .advice--block{
    position: relative;
    padding: 2rem 0;
    &.advice--block-not-home{
      padding: 2rem 0;
      h2{
        margin-bottom: 1rem;
      }
    }
    .title--section{
      font-family: 'Oswald';
      font-size: 3rem;
      padding: 1rem 18rem 1rem 18rem;
      text-align: center;
    }
  }

  .advice--icon--block{
    position: relative;
    padding: 1rem 0 2rem;
    .text-advice{
      padding-bottom: 1rem;
    }
    .title--section{
      font-family: 'Oswald';
      font-size: 3rem;
      padding: 0;
      text-align: left;
    }
  }
  .icon--card{
    height: 20rem;
    width: 100%;
  }
  .icon--advice{
    min-height: 16rem;    
  }
  .breadcrumbs--block{
    .breadcrumbs--list{
      li{
        display: inline-block;
        margin-right: 1rem;
        &:after{
          content: "\f105";
          font-family: FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 2.6rem;
          position: relative;
          top: 0.3rem;
          left: 0.5rem;
          color: $orange;
        } 
        &:last-child:after{
          content: "";
        }
        a{
          color: $aquamarine;
        }
        &.active{
          font-weight: bold;
        }
      }

    }
  }
  .compare--block{
    .compare--list{
      display: flex;
      justify-content: space-between;
      list-style: none;
      flex-direction: row;
      margin: 1rem 0;
      padding: 0;
      li{
        width: 50%;
        position: relative;
        display: flex;
        margin-bottom: 1rem;
        &:after{
          content: "\f107";
          font-family: FontAwesome;
          font-weight: normal;
          font-size: 2.6rem;
          right: 0;
          top: 0;
          height: auto;
          padding: 0.5rem 1rem;
          position: absolute;
          pointer-events: none;
        }
        label{          
          font-family: 'OpenSans-Light';
          text-transform: uppercase;
          font-weight: normal;
          letter-spacing: 2px;
          width: 42%;
          text-align: right;
          &:after{
            content: "\f105";
            font-family: FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 2.6rem;
            position: relative;
            top: 2px;
            left: 0rem;
            padding: 2rem;
            color: $gray-base;
          }
        }
        select{
          font-family: 'OpenSans-bold';
          text-transform: uppercase;
          font-size: 2.3rem;
          border: 1px solid $aquamarine-light;
          padding: 0.2rem 0.5rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          width:58%;
          background: $white;
          &::-ms-expand{
            display: none;
          }
          &:focus {
            box-shadow: none;
            outline: none;
          }  
          option{
            font-family: 'OpenSans';
            font-size: 1.2rem; 
            color: $gray-base;
            &:checked{
            //font-size: 1.2rem; 
            }
          }
        }
        &:nth-child(1){
          select{
            color: $orange;
          }
        }
        &:nth-child(2){
          select{
            color: $aquamarine;
          }
        }
        dvt-select{
          font-family: 'OpenSans-bold';
          text-transform: uppercase;
          font-size: 2.3rem;
          border: 1px solid $aquamarine-light !important;
          padding: 0.2rem 0.5rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          width:60%;
          background: $white;
          &#datafor{
            a{
              color: $orange !important;              
            }
          }
          &#comparewith{
            a{
              color: $aquamarine !important;
            }
          }
        }
      }
    }
  }
  .filter--indicator--block{
    .indicators--group{
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin-top: 1rem;
      li{
        width: 50%;
        padding: 0rem 4rem 0rem 0;
        position: relative;
        label{          
          font-family: 'OpenSans-Light';
          text-transform: uppercase;
          font-weight: normal;
          letter-spacing: 2px;
          display: block;
          &.alert-disabled{
            font-size: 1rem;
            color: red;
            text-transform: none;
            font-family: OpenSans;
            position: relative;
            top: -0.6rem;
            letter-spacing: initial;
            padding-left: 2rem;
          }
        }
        &.disabled{
          &:after {
            opacity: 0.4;
            color: $gray !important;
            top:45px;
          }
        }
        &:after {
          content: "\f107";
          font-family: FontAwesome;
          font-weight: normal;
          font-size: 2rem;
          color: #00A0A4;
          right: 4rem;
          top: 3.5rem;
          height: auto;
          padding: 1rem;
          position: absolute;
          pointer-events: none;
        }
        select{
          width: 100%;
          margin: 1rem 0;
          padding: 1rem 2rem;
          border-radius: 4px;
          border:1px solid $aquamarine;
          color:$aquamarine;
          position: relative;
          background: $white;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &::-ms-expand{
            display: none;
          }
          &[disabled="disabled"]{
            opacity: 0.4;
            cursor: not-allowed;
            border: 1px dotted $gray;
            color: $gray;
          }
          option{
            &:checked{
            
            }
          }
        }
        &:nth-child(1){
          select{

          }
        }
        &:nth-child(2){
          select{

          }
        }
      }
    }
  }
  .submenu--block{
    padding: 1rem 0 0.5rem;
    label{
      display: none;
    }
    .submenu--items--wrapper{
      padding:0; 
      display: flex;
      justify-content: space-between;
      list-style: none;
      flex-direction: row;
      flex-wrap: nowrap;
      li{
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        a{          
          font-family: "Oswald", sans-serif;
          //font-size: 1.8rem;
          font-size: 2.2rem;
          color: $gray-light;
          font-weight: normal;
          padding:0;
          border-bottom: 4px solid transparent;
          display: inline-block;
          height: 100%;
          &.active, &:hover, &:focus, &:visited {
            border-bottom: 4px solid $orange;
            text-decoration: none;
            display: inline-block;
            //color: $aquamarine;
          }
        }
        &.active{
          a, a.active, a:hover, a:focus, a:visited {
            color: $aquamarine;
          }
        }
      }
    }
  }
  .carousel--card{
    margin-top: auto;
    h4{
      text-align: left;
      font-family: 'OpenSans-bold';
      font-size: 2.5rem;
      .flag{
        display: inline-block;
        width: 6rem;
        height: 4rem;
        margin-right: 2rem;
        vertical-align: middle;
        background: url(../img/eu-flag.png) no-repeat;
      }
    }
    .carousel--card--block {
      .carousel-inner {
        width: 81%;
        padding: 0;
        margin: 0px auto;
        min-height: 20rem;
        .carousel--text--block a{
          display: flex;
          flex-direction: row;
          align-items: center;
          .number-text{
            font-size: 7rem;
            display: block;
            font-family: 'Oswald-light';
            margin-right: 1.4rem;
            .number-symbol{
              font-size: 3rem;
              vertical-align: text-top;
              position: relative;
              top: 1rem;
            }
          }
          .text-area{
            font-family: Oswald;
            font-size: $font-size-body;
            position: relative;
            top:0rem;
          }
        }
      }
      .carousel-indicators{
        bottom: 5rem;
        margin-bottom: 0;
        li{
          background: $orange;
          &.active{
            background: $aquamarine;
          }       
        }
      }
      .carousel-control{
        background: transparent;
        opacity: 1;
        width: 10%;
        &:hover, &:focus {
          filter: alpha(opacity=100);
          opacity: 1;
          color: $orange;
        }
        i{
          text-shadow: none;
          font-size: 4rem;
          position: absolute;       
          top: 30%;
          &.fa-angle-left{
            left: 0;
          }
          &.fa-angle-right{
            right: 0;
          }       
        }
      }
    }   
  }
  /** CARDS TYPE **/
    .card--grid{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      .card--block{
        display: flex;
        flex-direction: column;
        padding:3rem;
        .icon--card{
          height: 20rem;
          background-size: contain;
          display: block;
          &:hover{
            opacity:0.6;
          }
        }
        &.min-height{
          .title--card{
            min-height: 10rem;
          }
        }
        .title--card{
          font-size:2.8rem;
          display: block;
          margin: 0;
          padding: 2rem 0;
          line-height: 1.16;
          a{
            color: $aquamarine;
            cursor: pointer;
            &:hover{
              color:$orange;
            }
          }
        }
        .btn--card--block{
          margin-top:auto;
        }
        .btn--card{
          font-weight: bold;
          position: relative;
          cursor: pointer;
          &:hover, &:focus{
            color:$orange !important;
          }
          &:after{
            content: "\f105";
            font-family: FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 2.6rem;
            position: relative;
            top: 0.3rem;
            left: 0.5rem;
            color: $orange;
          }
        }
      }
      .card--block--rounded{
        border-radius: 46px 0;
        padding:3rem 2rem;
        margin:0 1%;
        background: $white !important;
        position: relative;
        display: flex;
        flex-direction: column;
        .icon--card{
          height: 20rem;
          width: 100%;
          display: block;
          cursor: pointer;
          &:hover{
            opacity:0.6;
          }
        }
        .title--card{
          font-size: 2.8rem;
          display: block;
          margin: 0;
          padding: 2rem 0;
          a{
            color:$orange;
            cursor: pointer;
            &:hover{
              color:$aquamarine;
            }
          }
        }
        .btn--card{
          font-weight: bold;
          position: relative;
          cursor: pointer;
          &:hover, &:focus{
            color:$orange!important;
          }
          &:after{
            content: "\f105";
            font-family: FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 2.6rem;
            position: relative;
            top: 0.3rem;
            left: 0.5rem;
            color: $orange;
          }
        }
        .btn-group-card{
          margin-top:auto;
          label{
            color: $aquamarine;
            margin-bottom: 1.2rem
          }
        }
      }
      .card--block--chart{
        background: $gray-lighter;
        padding: 1rem 2rem 3rem 2rem;
        border-radius: 46px 0;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        .chart--submenu{
          list-style: none;
          display: flex;
          justify-content: flex-end;
          position: relative;
          top:1rem;
          right: 0rem;
          > li{
            > a{
              width: 3.5rem;
              height: 3.5rem;
              display: block;
              color: $gray-base;
            }
            &:nth-child(1) a:after{
              content:"\f00e";
              font-family: FontAwesome;
              font-size: 2.4rem;
              top: -2px;
              position: relative;
            }
            &:nth-child(2) a:after{
              content: "\f019";
              font-family: FontAwesome;
              font-size: 2.4rem;
            }
            &:nth-child(3) a:after{
              content: "\f107";
              font-family: FontAwesome;
              font-size: 2.4rem;
            }
          }
        }
        .title--card{
          font-size: 2.8rem;
          margin-top: 1.2rem;
          text-align: left;
          //min-height: 6rem;
          margin-bottom: 1rem;
        }
        .chart--block{
          //margin-top:auto; 
          img{
            width: 100%;
          }
        }
      }
    }
    .column--grid--block{
      display: flex;
      flex-wrap: nowrap;
      justify-content:space-between;
      flex-direction: row;
      .column--item{
        padding: 0 5rem;
        width: 50%;
        &.eu-background{
          background: url(../img/home-map.png) center top no-repeat;
          background-size: contain;
        }
        h2{
          font-size: 2.4rem;
        }
        &.first{
          border-right: 2px solid $aquamarine-light;
          &.full{
            border-right: 0;
            width: 100%;
          }
          .columm--item--content{

          }
        }
        .btn--block-full{
          margin-top:2rem;
        }
        .flags--wrapper{
          outline: 1px solid #CCC;
        }
        .see-more{
          text-align: center;
          margin: 3rem 0 1rem;
          background: url(../img/back-button.png);
          position: relative;
          //z-index: -1;
          a{
            text-decoration:none;
            color: $aquamarine;
            border: 1px solid $orange;
            padding: 0.5rem;
            border-radius: 7px;
            text-transform: uppercase;
            font-size: 1.2rem;
            padding: 0.5rem 2rem; 
            background: $white;
            position: relative;
            &:hover, &:focus{
              background: $orange!important;
              color: $white!important;
              i{
                background: $aquamarine;
              }  
            }
            i{
              color:$white;
              background: $orange;
              position: absolute;
              top: -8px;
              left: 45.5%;
              padding: 0px;
              border-radius: 16px;
              width: 12px;
              height: 12px;
            }       
          }
        }
      }
    }
    .workforce--page{
      #filter3{
        display: none;
      }
    }
    .survey--map--block{
      background: $gray-lighter;
      display: block;
      .map--block{        
        .dvt--map--block, div[id^='dvt_map']{
          width: 70%;
          text-align: center;
          margin: auto;
          overflow: hidden;
          svg{
            //overflow: visible !important;
            //z-index: 100000 !important;
            top: -1px;
            position: relative;
            text{
              font: 0.9rem 'OpenSans-bold' !important;
              opacity: 1;
              cursor:default;
            }
          }
        }       
      }
    }
    .survey--map--block-mobile{
      display: none;
    }
  /** END CARDS TYPE **/

  /* GOOGLE TRANSLATE */
    #google_translate_element_wrapper {
        margin: 0px 25px 0em 0;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
        filter: Gray(); /* IE4-8 and 9 */
        padding-left: 15px;

        #google_translate_element {
            display: inline-block;
            .goog-te-gadget-simple {
                border: none !important;
                .goog-te-menu-value, .google_translate_span {
                    color:$gray-icon !important;
                }
                .goog-te-menu-value > span {
                    //display: none;
                    text-decoration: none;
                    top: 0px;
                    position: relative;
                }
            }
        }
        .google_translate_span{
            font-size: 11px;
            top: -1px;
            position:relative;
        }
        .gtranslator-info {
            width: 20px;
            height: 15px;
            overflow: hidden;
            display: inline-block;
            font-size: .8em;
            vertical-align: middle;
            line-height: 15px;
            margin-left: 5px;
            cursor: pointer;
            right: 0;
            top: -7px;
            position: relative;
           &:before {
                content: "\f059";
                font-family: "FontAwesome";
                float: left;
                font-size: 1.2em;
                vertical-align: top;
                margin-top: 0px;
                padding-top: 0px;
            }
        }
    }
    .gtranslator-msg{
        width: 350px;
        height: 150px;
        padding: 15px;
        font-size: 1.2rem;
        position: fixed;
        top: 38px;
        background-color: #FFFFFF;
        border: 1px solid #cccccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        right: 28px;
        z-index: 999999;
        box-shadow: 0px 0px 4px #aaa;
        text-align: left;
    }
  /* END GOOGLE TRANSLATE */


  /** PAGINATION **/
    .pagination--wrapper{
      .pagination--elements{
        margin: 2rem 0;
        ul{
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding: 0;
          li{
            margin: 0 0.5rem;
            span{
              padding: 0.8rem;
              text-align: center;
              width: auto;
              border-radius: 8px;
              border: 1px solid $gray-light;
              display: block;
              font-size: 2rem;
              font-family: 'Oswald';
              &.active{
                opacity: 1;
              }
            }
            &.arrow {
              span{
                border:0px;
                opacity:0.6;
                color: $aquamarine; 
                font-size: 3.5rem;
                &:hover, &:focus{
                  color:$aquamarine-dark!important;
                }          
              }
            }
          }        
        }
        .pag-numbers {
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  /** END PAGINATION **/

  /** SITE MAP **/
    .site--map--block{
      h2{
        margin: 3rem 0 2rem;
        color: $gray-base;
      }
      h3{
        margin: 2rem 0 1rem;
        color: #333;
      }
      a{
        padding: 1rem 0.6rem !important;
        display: block;
      }
      > ul{
        > li{
          list-style-type: none;
          &:nth-child(1){
            > a:before{
              content: '';
            }          
          }      
          .sr-only{
            position: static;
          }
          > span{
            border-bottom: 1px dotted  $gray-base;
            padding: 10px 6px !important;
            display: block;
            &:before{
              content: "\f105";
              display: inline-block;
              font-family:'FontAwesome';
              font-size: 1.2rem;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: relative;
              right: 5px;
              top: -2px;
            }
          }
          > a{
            border-bottom: 1px dotted  $gray-base;
            &:hover, &:focus{
              background:#f9f9f9!important;
              text-decoration: none!important;
            }
            &:before{
              content: "\f105";
              display: inline-block;
              font-family:'FontAwesome';
              font-size: 1.2rem;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: relative;
              right: 5px;
              top: -2px;
            }
          }
          > ul{
            list-style-type: none;
            padding: 0 0 0 2rem;
            > li{
              > a{
                border-bottom: 0;
                cursor: pointer;
                 &:before{
                  content:'';
                }
              }
            }
            > li:last-child{
              border-bottom:none;
            }
          }
        }
      }
    }

  /** LEGAL NOTICE  **/
    .legal--notice--block{
    margin: 0rem auto 5rem;
    h2{
      margin: 2rem 0;
    }
    table {
      border-collapse: collapse;
      width: 80%;
      margin: 5rem auto;
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid $aquamarine;
      }
    }
    /**
    div.list--tag--block{
      > ul { 
        list-style: none;
        column-count: 2;
        margin: 3rem 0;
        font-family: Oswald,sans-serif;
        > li{
          padding: 1rem;
          margin: 0rem 0 1rem;
          background: #f2f2f2;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
          > ul{
            list-style: none;
            li{
              padding: 0.5rem;
            }
          }
        }
      }   
    }
    **/
    div {
     
    }
  }

/** END ELEMENTS  **/

/** METHODOLOGY  **/
  @mixin header3($color,$size,$px) {
    color:$color;
    font-size: $size;
    padding: 0rem 0 1rem 0;
    margin: 1rem 0 1rem 0rem;
    position: relative;
    border-bottom: $px solid;
    font-family: "Oswald", sans-serif !important;
  }

  .section--methodology{
    @media screen and (max-width: 767px) {
      padding-top: 0 !important;
    }
    h2.accordion-title{
      color: $aquamarine;
      font-size: 2.8rem;
      position: relative;
      border-bottom: 1px solid $aquamarine;
      padding-bottom: 1.2rem;
      margin-bottom: 1.6rem;
      cursor: pointer;
      &:after{
        content: "\f107";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 3rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 0rem;
        top: 0;
      }
      &.active{
        color:$aquamarine;
        &:after{
           content: "\f106";
        }
      }
      &:hover{
        opacity:0.6;
        -webkit-transition: max-height 0.6s; 
        transition: max-height 0.6s;
        cursor: pointer;
      }
    }
    h3{
      @include header3($aquamarine,2.6rem,1px);
    }
    h3.accordion-title{
      @include header3($gray,2.6rem,1px);
      &:after{
        content: "\f067";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 2rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right:0;
        top:0;
      }
      &.active{
        //color:$aquamarine;
        &:after{
          content: "\f068";
        }
      }
      &:hover{
        opacity:0.6;
        -webkit-transition: max-height 0.6s; 
        transition: max-height 0.6s;
        cursor: pointer;
      }
      @media screen and (max-width: 767px) {
        font-size: 2.2rem;
        padding: 0rem 2rem 1rem 0;
      }
    }
    h4{
      @include header3($aquamarine,2.4rem,1px);
    }        
    &.active{
      max-height: 1000000000rem;
      height: auto;
     // -webkit-transition: max-height 4.2s; 
     // transition: max-height 4.2s;
    }
    .text-center{
      margin: 1rem 0;
    }
    .accordion-content{
      font-size: 1.4rem;
      padding: 0rem 0;
      margin: 0rem 0 4rem 2rem;
      max-height: 0rem;
      //-webkit-transition: max-height 2.2s; 
      //transition: max-height 2.2s;
      overflow: hidden;
     // height: 0;
      @media screen and (max-width: 767px) {
        margin: 0rem 0 4rem 0rem;
        .accordion-content{
          margin: 0rem 0 0 1rem;
        }
      }    
      &.active{
        max-height: 1000000000rem;
        height: auto;
       // -webkit-transition: max-height 4.2s; 
       // transition: max-height 4.2s;
      }
      .accordion-content{
        margin: 0rem 0 0rem 2rem;
        &.active{
          max-height: 1000rem;
          height: auto;
          -webkit-transition: max-height 2.2s; 
          transition: max-height 2.2s;
        }
      }
      .btn-main-color{
        display: inline-block;
      }
    }
  }
/** END METHODOLOGY  **/

















[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.three-points-vertical{
  background: url(../img/three-point-vertical.svg) no-repeat;
  background-size: 12px 27px;
  width: 27px;
  height: 27px;
  display: inline-block;
  opacity: 1;
  position: relative;
  top: -3px;
}

/****** GENERAL CHARTS *****/

/**** HEIGHT SIZE ***/
  .heighth31 {
    h3 {
      min-height: 6em !important;
    }
  }

  .heighth32 {
    h3 {
      min-height: 2.5em;
    }
  }
  .heighth33 {
    h3 {
      min-height: 3.8em;
    }
  }
  .heighth34 {
    h3 {
      min-height: 4.5em;
    }
  }
  .heighth35 {
    h3 {
      min-height: 6.5em;
    }
  }
  .heighth36 {
     h3 {
      min-height: 5.5em;
    }
  }

  .heightAuto {
    h3 {
      min-height: auto !important;
    }
  }
/**** END HEIGHT SIZE ***/

/**** MODAL WINDOW ****/
  .dvt-modal {
    display: block;
    background:$white;
    width: 70%;
    margin: auto;
    height: 90%;
    border-radius: 6px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }
    .modal-wrapper {
      height: auto;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #666;
      }
      .modal-body {
        height: 100%;
        background: #FFF !important;
        .card--block--chart--wrapper {
          .chart--submenu{
            list-style: none;
            display: block;
            justify-content: unset;
            position: relative;
            width: 80%;
            margin: auto;
            padding: 0;
            > li{
              float: right;
              > a{
                width: 3.5rem;
                height: 2.7rem;
                display: block;
                color: $gray-base;
                &.download-button:after{
                  content: "\f019";
                  font-family: FontAwesome;
                }
              }
            }
          }
          .export-button-modal{
            margin: 1rem 3% 1rem 1rem;
            a{
              padding: 0.8rem 1rem;
              border-radius: 0.3rem;
              background: #f2f2f2;
              color: #000;
              font-size: 1.4rem;
              display: block;
              overflow-y:hidden; 
              &:hover, &:focus{
                color:$white!important;
                background: $aquamarine!important;
                .fa-arrow-down{
                  top:0rem;
                  -webkit-transition: all 0.8s; 
                  transition: all 0.8s;
                }
                .fa-picture-o{
                  top:3rem;
                  -webkit-transition: all 0.8s; 
                  transition: all 0.8s;
                }
              }
              .fa-arrow-down{
                position: relative;
                top: -3rem;
                left: 3px;
                -webkit-transition: all 0.8s; 
                transition: all 0.8s;
              }
              .fa-picture-o{
                position: relative;
                top:0rem;
                left:-1rem;
                -webkit-transition: all 0.8s; 
                transition: all 0.8s;
              }
            }
          }
          .title--card{
            font-size: 2.8rem;
            margin: 0rem 0 0 3%;
            padding-top: 2rem;
            text-align: left;
          } 
          .chart--wrapper{
            width: 94%;
            height: auto;
            margin: 3vh auto 0;
            svg{
              //border-radius: 1rem;
              text{
                font-size: 14px !important;
              }
            }
            .legend-text-block{
              overflow: auto;
            }
          }
          .legend-info{
            font-size: 1.4rem;
            text-align: center;
            font-style: italic;
            float:left;
            padding:1rem 0.5rem;
            width: 100%;
            padding: 1rem 13rem;
            display: block !important;
          }
          .logoGraphics-wrapper{
            float: right;
            padding-right: 0;
            img{
              width: 13rem;
            }            
          }      
        }
      }
    }
    .dvt-chart {
      height: 100% !important;
      width: 100%;
      overflow: hidden;
      border-radius: .5em;
      margin: 0;
      position: relative;
      left: 0%;
      top: 0%;

      h3{
        font-size:2rem !important ;
        min-height: auto !important;
      }
      .legend-info{
        float: left;
        background: $white;
        width: 100%;
        padding: 0 30px;
        color: #000;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }





  /**** COKKIES DIWSCLAIMER ****/
  #cookiesConsent {
    background: $backgroundCookies;
    width: 100%;
    padding:1.5em;
    overflow: auto;
    z-index:1000001;
    top: 0;
    position: fixed;
    color: #666;
    .text {
      float:left;
      width:70%
    }
    .buttons {

    }
    button{
      color:$white;
      background: url('../img/buttomArrow.png') no-repeat 95% 53% $aquamarine;
      font-family: "Oswald", sans-serif;
      padding:.7em 1.5em;
      border:0;
      float:right;
      margin:0 .5em;
      &:hover{
        background:$aquamarine-dark!important;
      }
      &:active, &:focus{
        background: url('../img/buttomArrow.png') no-repeat 95% 53% $aquamarine !important;
      }
    }
  }
  /*Width disclaimer*/
  #widthDisclaimer {
    background: #cbe4e5;
    width: 100%;
    padding: 20px 20px;
    font-size: 1.4rem;
    overflow: auto;
    z-index: 100001;
    position: fixed;
    top: 0;
    color: #000;
    .text {
      width:100%;
      text-align: center;
    }
    .buttons {

    }
    button {
      color: $white;
      background: url(../img/buttomArrow.png) no-repeat 90% 56% $aquamarine;
      font-family: "Oswald", sans-serif;
      padding: 7px 25px 7px 15px;
      border: 0;
      float: none;
      margin: 20px 35%;
      width: 30%;
      &:hover{
        background:$aquamarine-dark!important;
      }
      &:active, &:focus{
        background: url(../img/buttomArrow.png) no-repeat 90% 56% $aquamarine !important;
      }
    }
  }
/**** END MODAL WINDOW ****/

/** pop up */
  #popUpMessage{
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100vw;
    height:100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    .popUpMessage--text--block{
      background: $white;
      width: 70vw;
      height: 70vh;
      top: 0;      
      margin: 15vh 15vw; 
      padding: 15vh 10vw;
      position: relative;
      overflow-y: auto;
      .close-popup{
        margin: 2rem 0;
        text-align: right;
        a{
          display: inline-block;
        }
      }
      &::-webkit-scrollbar {
          width: 8px;
      }       
      &::-webkit-scrollbar-track {
          border-radius: 4px;
      }       
      &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background: #CCC;
      }
    }
  }

/** 404  **/
.error-404{
  padding: 0 0 5rem;
  .img-404{
   background: url('../img/page-not-found.png') center top no-repeat; 
   min-height: 30rem;    
 }
  .title-section {
    margin: 1rem 0 1rem;
  }
  p{
    margin: 0;
  }
}

/**** NOSCRIPT PAGE ***/
  #noScript {
    border: 1px solid #ccc;
    margin: 1.3em auto 2em !important;
    max-width: 900px !important;
    padding: 0 50px;
  }

  .introNoScript {
    border: 1px solid #000;
    color: $gray-base;
    font-size: 1.2em;
    font-weight: 700;
    margin: 2em 0 1.5em;
    padding: 1em;
  }
/**** END NOSCRIPT PAGE ***/


.dvt-map-tooltip{
  background:rgba(255,255,255,0.9);
  color: $gray;
  padding:1.5rem;
  border: 2px solid $aquamarine;
  border-radius: 6px;
  position: absolute;
  z-index: 1000000000;
  max-width:35rem;
  &.botton:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width:1.2rem;
    border-style: solid;
    border-color: transparent transparent $aquamarine transparent;
  }
  &.top:after {
    content: "";
    position: absolute;
    bottom:-2.5rem;;
    left: 50%;
    margin-left: -5px;
    border-width:1.2rem;
    border-style: solid;
    border-color: $aquamarine transparent transparent transparent;
  }
  .country-name{
    font-family:Oswald,sans-serif;
    font-size: 1.8rem;
    text-align: left;
  }
  ul{
    list-style-type: none;
    padding:0;
    li{
      text-align: left;
      //font-size: 1.8rem;
      label{
        font-family: 'OpenSans';
        margin-right: 0.5rem;
        font-size: 1.4rem;
      }
    } 
  }
  p:empty{
    display: none;
  }
}

.card--block--chart{
  .chart--wrapper{
    svg{
      rect, circle, path, line{
        cursor: default !important;
      }
    }
  }
}

.dvt-modal{
  svg{
    rect, circle, path, line{
      cursor: default !important;
    }
  }
}


@media only screen 
and (max-width :767px){
.dvt-map-tooltip{
  max-width:initial;
  width: 100%;
  left: 0 !important;
  &.botton:after {
    display: none;
  }
  &.top:after {
    display: none;
  }
}
}

/****  TIPSY ****/
  .tipsy{
    font-size: 1.4rem !important;
    opacity: 0.95 !important;
    &.tipsy-n {
      .tipsy-arrow{
        border-left-color:$aquamarine !important;
      }
    }
    &.tipsy-nw {
      .tipsy-arrow{
        border-bottom-color:$aquamarine !important;
      }
    }
    &.tipsy-ne{
      .tipsy-arrow{
        border-bottom-color:$aquamarine !important;
      }
    }
    &.tipsy-s{
      .tipsy-arrow{
        border-top-color:$aquamarine !important;
      }
    }
    &.tipsy-sw{
      .tipsy-arrow{
        border-top-color:$aquamarine !important;
      }
    }
    &.tipsy-se{
      .tipsy-arrow{
        border-top-color: $aquamarine !important;
      }
    }
    &.tipsy-e{
      .tipsy-arrow{
        border-left-color: $aquamarine !important;
      }
    }
    &.tipsy-w{
      .tipsy-arrow{
        border-right-color: $aquamarine !important;
      }
    }
    .tipsy-inner{
      background-color: $white !important;
      border: 2px solid $aquamarine !important;
      color: $gray !important;
      max-width: 25rem;
      padding: 0.8rem 1.2rem !important;
      -webkit-box-shadow: 0px 0px 6px 0px rgba(65, 65, 65, 0.45);
      box-shadow: 0px 0px 6px 0px rgba(65, 65, 65, 0.45);
      .ccc-tt{
        .ccc-tt-dimValueType-Any{

        }
        .ccc-tt-dimValueType-Number{

        }
      }
      .ccc-tt-ds{
        .ccc-tt-dimLabel{
          font-weight: 600;
          color: $gray;
          padding-right: 0.3em;
          white-space: nowrap;
        }
      }
    }
  }
/****  END TIPSY ****/

@media only screen 
and (min-width :300px)
and (max-width :380px) {
  .modal-wrapper div[query='getCompanySizeData'] div[id^='dvt_bar_chart']{
    svg{
      > g > g:nth-child(1) > g > g{
        transform: translate(70px, 343px) !important;
      }
    }
  }
}


/* hack IE11 */
@media all and (-ms-high-contrast:none)
{     
   .foo { color: green } /* IE10 */
   *::-ms-backdrop, .foo { color: red } /* IE11 */
  dvt-radar-chart svg{
    height:630px !important
  }
}

@-ms-viewport{
width:auto!important;
}
body{
  -ms-overflow-style: scrollbar;
}

div[query='getSectorActivityData'], 
div[query='getEstablishmentSizeData']{
  svg{
    overflow: visible !important;
  }
}