@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans/OpenSans-Light/fonts/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans/OpenSans-Light/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /* url('../fonts/OpenSans/OpenSans-Light/fonts/OpenSans-Light.woff2') format('woff2'), Modern Browsers */
       url('../fonts/OpenSans/OpenSans-Light/fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans/OpenSans-Light/fonts/OpenSans-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    /* url('../fonts/OpenSans/OpenSans-Light/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg'); Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

