/*
.home-cover {
    //background: url(../img/home-header-bg.png) center -7rem  no-repeat #529fa2;
    background: url(../img/home-header-bg.png) center -4rem repeat #529fa2;
    min-height:15.6rem;
    height: auto;
   // background-size: cover;
    clear: both;
    border-top:6px solid #C7E2E3;
    position: relative;
    cursor: pointer;
    .main-title{
      font-weight: 500;
      font-size: 3.8rem;
      width: auto;
      padding-top: 2rem;
      padding-left:1.5rem;
      margin-bottom: 1rem;
      color: $white;
      line-height:3.6rem;
      width: 100%;
      font-family: "Oswald", sans-serif;
      margin-top: 2rem;
    }
    .lead-title{
      font-family: Oswald-Light,sans-serif;
      color: $white;
      padding-top: 0rem;
      padding-left:1.5rem;
      font-size: 2.4rem;
    }
}
.home{
  .btn--block-full{
    .btn-default{
      padding: 1.4rem 2.5rem 1.4rem 2rem;
      &:after{
            padding: 0.6rem 1rem 0.6rem 1rem;
      }
    }    
  }
}
*/ 

.home{
  .help-text{
    text-align: center;
    font-size: 2.4rem;
    strong{
      font-family: Opensans-bold;
    }
    .exclamation{
      width: 5rem;
      height: 5rem;
      &:after{
        top: -0.8rem;
        left: -0.5rem;
        font-size: 4.5rem;
      }
      &:before{
        left: -2.3rem;
        top: -2.4rem;
      }
    }
  }
}
.advice-home{
  &.eu-background{
    background: url(img/advice-background.png) center top no-repeat;
    background-size: contain;
  }
  h2{
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: Oswald-Light,sans-serif;
    margin-bottom: 1rem;
  }
  .title{
    font-weight: 600;
    font-size:3.7rem;
    text-transform: uppercase; 
    width: auto;
    display: block;
    color: $gray;                
    width: 100%;
    font-family: "Oswald", sans-serif; 
    margin:0;                
  }
  .subtitle{
    font-family: Oswald-Light,sans-serif;
    text-transform: capitalize;
    color: $gray;  
    font-size: 3rem;
    display: block;
  }
  .lead-title{
    color: $aquamarine;
    font-size: 2.8rem;
    padding: 0 4rem 0 0;
    @media screen and (max-width: 768px){
      padding: 4rem 0 0 0;
    }
  }
}
.preferences-home{
  .title-section {
    margin: 0rem 0 1rem;
  }
  .preferences-text{
    margin: 0rem auto 2rem;
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: auto;
    @media screen and (max-width: 768px){
      display: flex;
      flex-direction: column;
      width:100%;
    }
    .country-selected-wrapper{
      width: 76%;
      text-align: right;
      @media screen and (max-width: 768px){
        width: 100%;
        text-align: center;
      }
      select{
        padding: 2.6rem 4rem 2rem;
        border: 1px solid $gray-lighter;
        font-style: italic;
        color: $gray;
        &.disabled{
          color: $gray-light;
        }
        option{

        }
      }
      .country-lock{
        padding: 1rem;
        margin: 1rem 2rem;
        background:$aquamarine;
        color: $white;
        border-radius: 5rem;
        transition: all 0.6s;
        cursor: pointer;
        @media screen and (max-width: 420px){
          margin: 2rem 0 0;
        }
        .fa{
          font-size: 3rem;
          padding: 0 0.4rem;
          &:before{
            content: "\f023";
          }
        }
      }
      .country-unlock{
        padding: 2rem 3rem;
        margin: 0;
        background:$orange;
        color: $white;
        border-radius: 0rem;
        transition: all 0.6s;
        cursor: pointer;
        @media screen and (max-width: 420px){
          margin: 2rem 0 0;
        } 
        .fa{
          font-size: 3rem;
          &:before{
            content: "\f09c";
          }
        }
      }
      .country-unlock.disabled{
        background:$gray-light;
        cursor: auto;
      }
    }
    .country-selected{
      width: 24%;
      text-align: left;
      display: block;
      margin: 1rem 0;
      font-weight: bold;
      color: $aquamarine;
      padding: 1.4rem 0 0;
      @media screen and (max-width: 768px){
        width: 100%;
        text-align: center;
      }
    }      
  }
}
.discover--charts--section{
  display: flex;
  justify-content:space-around;
  @media screen and (max-width:767px){
    flex-direction: column;
    .title-section {
      text-align: center;
    }
  }
  .carousel-control-group{
    position: relative;
    min-height: 4rem;
    @media screen and (max-width:767px){
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      a{
        position: relative;
      }
    }
    .carousel-control{
      width: 4rem;
      height: 4rem;
      background-image: none;
      padding: 0.5rem;
      text-shadow:none !important;
      &.left{        
        background: $aquamarine;
        color: $white;
        margin-left: 0;
        opacity: 1;
      }
      &.right{
        background: $white;
        color: $aquamarine;
        margin-right: 0;
        opacity: 1;
      }
      &:hover{
        background: $orange;
      }
    }
  }
}
.carousel-showmanymoveone{
  .carousel-inner{
    .item{
      //position: relative;
      .icon--card {
        height: 8rem;
        width: 8rem;
        background-color: #FFF;
        border-radius: 12px;
        display: block;
      }
      .btn--block-full, .btn--card--block{
        margin-top: auto;
      }
    }
    .item{
      > div{
        display: flex;
        min-height: 36rem;
        flex-direction: column;
        background-color:$white;
        padding: 0; 
        border:1rem solid $aquamarine-lighter;
        border-radius: 2rem;
        .content{
          padding: 2rem;
          display: flex;
          flex-direction: column;
          min-height: 30rem;
          .title--card{
            min-height: 5.6rem;
            @media screen and (max-width: 768px){
              min-height: auto;
            }
            a{
              color: #666;
            }  
          }
          .content-text{
            position: relative; 
            line-height: 1.2em;
            /* max-height = line-height (1.2) * lines max number (3) */
            //max-height: 3.6em; 
            //margin-top: auto;
          }
        }
      }
    }
  }
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
   display: none;
}
.print{
  display: none;
}
.section--our--methodology{
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 768px){
    flex-direction: column-reverse;
  }
  > div{
    width: 50%;
    @media screen and (min-width: 768px) and (max-width: 1365px){
      width:40%;
    }
    @media screen and (max-width: 768px){
      width:100%;
    }
  }
  .agencies--logos--block{
    background: url(img/background-agencies.svg) 0 2rem no-repeat;
    background-size: contain;
    background-position: 100%;
    padding-top: 4rem;
    @media screen and (max-width: 768px){
      padding-top: 0rem;
    }
    ul{
      list-style: none;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 4rem 0 2rem;
      @media screen and (max-width: 768px){
        padding: 0rem;
        justify-content: center;
      }
      @media screen and (max-width: 420px){
        padding: 0rem;
        justify-content: center;
        display: block;
      }
      li{
        background: #FFF;
        border-radius: 4rem;
        overflow: hidden;
        box-shadow: 2px 2px 8px $gray-light;
        margin: 1rem 2rem;
        text-align: center;
        @media screen and (min-width: 1024px) and (max-width: 1366px){
          margin: 1rem 1rem;
        }
        @media screen and (max-width: 768px){
          margin: 1rem;
          width: 40%;
          border-radius: 0;
          box-shadow:none;
          background: transparent;
        }
        @media screen and (max-width: 420px){
          width: 100%;
          margin:0;
          a{
            padding: 0.8rem !important;
            img{
              width: auto  !important;
            }
          }
        }
        &:last-child{
         // margin-right:0;
        }
        &:hover{
          box-shadow: 1px 1px 2px $gray-light;
        }
        a{
          display: block;
          padding: 0.8rem 2.5rem;
          margin: 0.5rem 1rem;
          height: 100%;
          &:before, &:after{
            content:'' !important;
            background: none !important;
            width: 0;
            height: 0;
            display: none;
          }
          img{
            width: 80%;
          }
        }
      }
    }
  }
  .content-methodology{
    width:30%;
    @media screen and (min-width: 768px) and (max-width: 1365px){
      width:60%;
      padding-right: 2rem;
    }
    @media screen and (max-width: 768px){
      width:100%;
      padding:0 2rem;
    }
    h2{
      color: $orange;
      font-family: "OpenSans";
      text-transform: uppercase;
      font-size: 1.8rem;
      margin: 1rem 0;
      @media screen and (max-width: 768px){
        padding:0rem;
      }
    }
    h3{
      font-family:"Oswald-light";
      font-size: 4rem;
      margin-top: 1rem;
    }
    .btn--wrapper{
      text-align: center;
      display: flex;
      justify-content: left;
      padding: 3rem 0;
    }
  }  
}


@media only screen and (min-width:1200px) and (max-width:1600px) {
  .col-ml-3{
     width: 25%;
   }
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
  .col-ml-3{
     width: 20%;
   }
} 


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
   .carousel .item .col-xs-12:nth-last-child(-n+2) {
      //display: none;
   }
}

@media all and (min-width: 768px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
   }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

@media all and (min-width: 992px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -33.3%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 33.3%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
   }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(33.3%, 0, 0);
      transform: translate3d(33.3%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-33.3%, 0, 0);
      transform: translate3d(-33.3%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}


@media all and (min-width: 1200px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -25%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 25%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
   }
}
@media all and (min-width: 1200px) and (transform-3d),
all and (min-width: 1200px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(25%, 0, 0);
      transform: translate3d(25%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-25%, 0, 0);
      transform: translate3d(-25%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

@media all and (min-width: 1600px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -20%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 20%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
   }
}
@media all and (min-width: 1600) and (transform-3d),
all and (min-width: 1600px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(20%, 0, 0);
      transform: translate3d(20%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 950px){
  .home{
    .btn--block-full{
      .btn-default{
        //min-height:7.2rem;
      }
    }
  }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)
and (orientation : portrait){
  .home{
    .osh--infrastructure--section{
      .card--grid{
        .card--block--rounded{
          > h3{
            min-height: 10rem;
          }
          > p{
            min-height: 12rem;
          }
          > .btn-group-card{
            min-height: 19rem;
          }
        }
      }
    }
  }
}



/** ICONS */
  .forum-icon{
    background-image: url(img/forum.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .economic-chart-icon{
    background-image: url(img/economic-chart.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .people-group-icon{
    background-image: url(img/people-group.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .culture-icon{
    background-image: url(img/culture.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .dialogue-icon{
    background-image: url(img/dialogue.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .enforcement-icon{
    background-image: url(img/enforcement.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .health-icon{
    background-image: url(img/health.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .national-icon{
    background-image: url(img/national.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .prevention-icon{
    background-image: url(img/prevention.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .regulation-icon{
    background-image: url(img/regulation.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .statistics-icon{
    background-image: url(img/statistics.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .working-conditons-icon{
    background-image: url(img/working-conditons.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .overall-opinion-icon{
    background-image: url(img/overall-opinion.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .work-accidents-icon{
    background-image: url(img/work-accidents.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .workers-icon{
    background-image: url(img/workers.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .mental-risk-icon{
    background-image: url(img/mental-risk.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .physical-risk-icon{
    background-image: url(img/physical-risk.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  .country-report-icon{
    background: url(img/country-report-icon.png) center top no-repeat;
    background-size: contain;
  }
/** END ICONS **/